In [1]:
#Test Test

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import scipy.stats as sts
import random
from scipy.stats import sem
import sklearn.datasets as dta
from scipy.stats import linregress

In [3]:
#file test
kaggle_work_plz = "data/Anime_csv.csv"

In [4]:
kaggle_work_plz

'data/Anime_csv.csv'

In [5]:
anime_metadata = pd.read_csv(kaggle_work_plz)
anime_metadata.head(2)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170,182126,131625,62330,20688,8904,3184,1357,741,1580
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,1-Sep-01,Unknown,...,30043,49201,49505,22632,5805,1877,577,221,109,379

In [6]:
anime_metadata.Score

0           8.78
1           8.39
2           8.24
3           7.27
4           6.98
          ...
17557    Unknown
17558    Unknown
17559    Unknown
17560    Unknown
17561    Unknown
Name: Score, Length: 17562, dtype: object

In [7]:
# anime_metadata.Score = anime_metadata.Score.astype(float)

# this is why we need to remove unkowns first^^^^

In [15]:
cleaned_anime_df= anime_metadata[anime_metadata.Score != 'Unknown']
cleaned_anime_df.head(10)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170,182126,131625,62330,20688,8904,3184,1357,741,1580
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,1-Sep-01,Unknown,...,30043,49201,49505,22632,5805,1877,577,221,109,379
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229,75651,86142,49432,15376,5838,1965,664,316,533
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182,4806,10128,11618,5709,2920,1083,353,164,131
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312,529,1242,1713,1068,634,265,83,50,27
5,15,Eyeshield 21,7.95,"Action, Sports, Comedy, Shounen",Unknown,アイシールド21,TV,145,"Apr 6, 2005 to Mar 19, 2008",Spring 2005,...,9226,14904,22811,16734,6206,2621,795,336,140,151
6,16,Hachimitsu to Clover,8.06,"Comedy, Drama, Josei, Romance, Slice of Life",Honey and Clover,ハチミツとクローバー,TV,24,"Apr 15, 2005 to Sep 27, 2005",Spring 2005,...,11829,16309,20008,13062,5574,3148,1339,484,278,321
7,17,Hungry Heart: Wild Striker,7.59,"Slice of Life, Comedy, Sports, Shounen",Unknown,ハングリーハート Wild Striker,TV,52,"Sep 11, 2002 to Sep 10, 2003",Fall 2002,...,1123,1777,3102,3075,1286,602,218,88,31,32
8,18,Initial D Fourth Stage,8.15,"Action, Cars, Sports, Drama, Seinen",Unknown,頭文字〈イニシャル〉D FOURTH STAGE,TV,24,"Apr 17, 2004 to Feb 18, 2006",Spring 2004,...,10948,15820,22379,12912,3874,1236,369,97,48,259
9,19,Monster,8.76,"Drama, Horror, Mystery, Police, Psychological,...",Monster,モンスター,TV,74,"Apr 7, 2004 to Sep 28, 2005",Spring 2004,...,77350,60652,43459,22045,8861,4381,2086,882,593,1177

In [10]:
# cleaned_anime_df.dtypes

In [13]:
# cleaned_anime_df.Score = cleaned_anime_df.Score.astype(float, errors = 'raise')
cleaned_anime_df.Score = cleaned_anime_df.Score.astype(float)
cleaned_anime_df.Score

C:\Users\burns\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

0        8.78
1        8.39
2        8.24
3        7.27
4        6.98
         ...
17504    6.59
17505    7.52
17512    6.83
17513    4.81
17552    6.52
Name: Score, Length: 12421, dtype: float64

In [14]:
cleaned_anime_df.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [21]:
cleaned_anime_df.Members

0        1251960
1         273145
2         558913
3          94683
4          13224
          ...
17504      18161
17505        832
17512        540
17513      13070
17552      10722
Name: Members, Length: 12421, dtype: int64

In [ ]:
# Cloumns we want to get rid of

# 'Japanese name', 'Aired', 'Premiered', 'Producers', 'Licensors', 'Durations', 'Ranked', 'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped','Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6','Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'

In [22]:
# dropping additional columns

cleaned_anime_df.drop('Japanese name', 'Aired', 'Premiered', 'Producers', 'Licensors', 'Durations', 'Ranked', 'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped','Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6','Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1')

TypeError: drop() takes from 1 to 8 positional arguments but 25 were given

In [ ]:
sorted_metadata= anime_metadata.sort_values('Score', ascending=False)
sorted_metadata.head(2)

In [ ]:
no_unkown_dataset = sorted_metadata[sorted_metadata["Score"] != 'Unknown']
no_unkown_dataset.head()

In [ ]:
no_unkown_dataset.dtypes

In [ ]:
# anime_metadata['Score'] = anime_metadata['Score'].to_numeric()
no_unkown_dataset["Score"] = no_unkown_dataset.Score.convert_objects(convert_numeric=True)

In [ ]:
no_unkown_dataset.Score

In [ ]:
no_unkown_dataset.Score.mean()