In [1]:
#Test Test

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import scipy.stats as sts
import random
from scipy.stats import sem
import sklearn.datasets as dta
from scipy.stats import linregress

In [3]:
#file test
kaggle_work_plz = "data/Anime_csv.csv"

In [4]:
kaggle_work_plz

'data/Anime_csv.csv'

In [5]:
anime_metadata = pd.read_csv(kaggle_work_plz)
anime_metadata.head(2)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170,182126,131625,62330,20688,8904,3184,1357,741,1580
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,1-Sep-01,Unknown,...,30043,49201,49505,22632,5805,1877,577,221,109,379

In [8]:
anime_metadata.Score

0           8.78
1           8.39
2           8.24
3           7.27
4           6.98
          ...
17557    Unknown
17558    Unknown
17559    Unknown
17560    Unknown
17561    Unknown
Name: Score, Length: 17562, dtype: object

In [11]:
# anime_metadata.Score = anime_metadata.Score.astype(float)

# this is why we need to remove unkowns first^^^^

In [14]:
cleaned_anime_df= anime_metadata[anime_metadata.Score != 'Unknown']
cleaned_anime_df.head(1)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170,182126,131625,62330,20688,8904,3184,1357,741,1580

In [18]:
cleaned_anime_df.Score.value()

AttributeError: 'Series' object has no attribute 'value'

In [ ]:
sorted_metadata= anime_metadata.sort_values('Score', ascending=False)
sorted_metadata.head(2)

In [ ]:
no_unkown_dataset = sorted_metadata[sorted_metadata["Score"] != 'Unknown']
no_unkown_dataset.head()

In [ ]:
no_unkown_dataset.dtypes

In [ ]:
# anime_metadata['Score'] = anime_metadata['Score'].to_numeric()
no_unkown_dataset["Score"] = no_unkown_dataset.Score.convert_objects(convert_numeric=True)

In [ ]:
no_unkown_dataset.Score

In [ ]:
no_unkown_dataset.Score.mean()